{% extends "base.html" %}
{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
{% endblock %}

{% block title %}Delete Mode{% endblock %}
{% block header %}Delete Mode{% endblock %}


{% block pageContent %}
<div class="mdl-grid"></div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--2dp my-card-wide">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-card--border">Delete Mode</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form method="POST" action="">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <a type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/settings">Go Back</a>
                    <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}