{% extends "base.html" %}



{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
{% endblock %}

{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}


{% block pageContent %}
<div class="mdl-grid"></div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <form action="/alarm_off" method="GET">
            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised btn-full-width" value="Switch alarm off"/>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--2dp my-card-wide">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-card--border">Alarm Mod</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {% for item in modes %}
                <p>
                    <form action="/set_mode/{{ item.id }}" method="GET">
                        {% if item.id == active_mode %}
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent btn-full-width" value="{{ item.name }}"/>                        
                        {% else %}
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-full-width" value="{{ item.name }}"/>
                        {% endif %}
                    </form>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}