{% extends "base.html" %}



{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
{% endblock %}

{% block title %}Create safezone{% endblock %}
{% block header %}Create safezone{% endblock %}


{% block pageContent %}
<div class="mdl-grid"></div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--2dp my-card-wide">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-card--border">Create new profil</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                <button onclick="getLocation()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">location_searching</i> Current location
                </button>
                <p id="error"></p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <table>
                    {{ form.as_table }}
                    </table>
                    <input type="submit" value="Update" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static "js/location.js" %}"></script>
{% endblock %}
