{% extends "base.html" %}



{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
{% endblock %}

{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}


{% block pageContent %}
<div class="mdl-grid"></div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--2dp my-card-wide">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-card--border">Update Mode</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-card--border">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="{{ form.name.id_for_label }}" value="{{ form.name.value }}" name="{{ form.name.html_name }}">
                        <label class="mdl-textfield__label" for="{{ form.name.id_for_label }}">
                            {{ form.name.label }}</label>
                        <span class="mdl-textfield__error">{{ form.name.errors }}</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="{{ form.description.id_for_label }}" value="{{ form.name.value }}" name="{{ form.description.html_name }}">
                        <label class="mdl-textfield__label" for="{{ form.description.id_for_label }}">
                            {{ form.description.label }}</label>
                        <span class="mdl-textfield__error">{{ from.description.errors }}</span>
                    </div>
                    <table class="table-stretch">
                        <tbody>
                            <tr>
                                <td><span class="mdl-checkbox__label">{{ form.is_locked.label }}</span></td>
                                <td class="td-align-right">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.is_locked.id_for_label }}" 
                                    name="{{ form.is_locked.html_name }}" onmousedown="toggle('{{ form.is_locked.id_for_label }}')">
                                        <input type="checkbox" id="{{ form.is_locked.id_for_label }}" class="mdl-checkbox__input"  
                                        {% if form.is_locked.value == True %} checked {% endif %}>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="mdl-checkbox__label">{{ form.gps_is_active.label }}</span></td>
                                <td class="td-align-right">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.gps_is_active.id_for_label }}" 
                                        name="{{ form.gps_is_active.html_name }}" onmousedown="toggle('{{ form.gps_is_active.id_for_label }}')">
                                        <input type="checkbox" id="{{ form.gps_is_active.id_for_label }}" class="mdl-checkbox__input" 
                                        {% if form.gps_is_active.value == True %} checked {% endif %}>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="mdl-checkbox__label">{{ form.light_sensor_is_active.label }}</span></td>
                                <td class="td-align-right">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.light_sensor_is_active.id_for_label }}" 
                                        name="{{ form.light_sensor_is_active.html_name }}" onmousedown="toggle('{{ form.light_sensor_is_active.id_for_label }}')">
                                        <input type="checkbox" id="{{ form.light_sensor_is_active.id_for_label }}" class="mdl-checkbox__input" 
                                        {% if form.light_sensor_is_active.value == True %} checked {% endif %}>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="mdl-checkbox__label">{{ form.ir_sensor_is_active.label }}</span></td>
                                <td class="td-align-right">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.ir_sensor_is_active.id_for_label }}" 
                                        name="{{ form.ir_sensor_is_active.html_name }}" onmousedown="toggle('{{ form.ir_sensor_is_active.id_for_label }}')">
                                        <input type="checkbox" id="{{ form.ir_sensor_is_active.id_for_label }}" class="mdl-checkbox__input" 
                                        {% if form.ir_sensor_is_active.value == True %} checked {% endif %}>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="mdl-checkbox__label">{{ form.gyro_sensor_is_active.label }}</span></td>
                                <td class="td-align-right">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.gyro_sensor_is_active.id_for_label }}" 
                                        name="{{ form.gyro_sensor_is_active.html_name }}" onmousedown="toggle('{{ form.gyro_sensor_is_active.id_for_label }}')">
                                        <input type="checkbox" id="{{ form.gyro_sensor_is_active.id_for_label }}" class="mdl-checkbox__input" 
                                        {% if form.gyro_sensor_is_active.value == True %} checked {% endif %}>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="mdl-checkbox__label">{{ form.sound_alarm_is_active.label }}</span></td>
                                <td class="td-align-right">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.sound_alarm_is_active.id_for_label }}" 
                                        name="{{ form.sound_alarm_is_active.html_name }}" onmousedown="toggle('{{ form.sound_alarm_is_active.id_for_label }}')">
                                        <input type="checkbox" id="{{ form.sound_alarm_is_active.id_for_label }}" class="mdl-checkbox__input" 
                                        {% if form.sound_alarm_is_active.value == True %} checked {% endif %}>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="{{ form.alarm_duration.id_for_label }}" 
                            name="{{ form.alarm_duration.html_name }}" value="{{ form.alarm_duration.value}}">
                        <label class="mdl-textfield__label" for="{{ form.alarm_duration.id_for_label }}">{{ form.alarm_duration.label }} default: {{ form.alarm_duration.value}}s</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                        <span class="mdl-textfield__error">{{ from.description.errors }}</span>
                    </div>

                    <input type="submit" value="Update" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}